@import "var";
@mixin button_par($border,$radius,$font,$color,$width,$height,$bg-color,$b-color,$top,$right,$bottom,$left){
   font-family: $font, sans-serif;
   color: $color;
   width: $width;
   height: $height;
   font-weight: 700;
   background-color: $bg-color;
   margin: $top $right $bottom $left;
   border-radius: $radius;
   border: $border solid $b-color;
   font-size: 14px;
  text-transform: uppercase;
}
@mixin col-center($position){
  display: flex;
  flex-direction: column;
  align-items: $position;
}
@mixin double-underline($event,$bottom,$gtop,$grigth,$gbottom,$gleft,$position){
  .line-wrapper{
    position: absolute;
    flex-direction: row;
    display: flex;
    justify-content: $position;
    bottom: $bottom;
    width: 40px;
  }
  .lines:first-child {
    margin-right: 2px;
    margin-top: 0;
  }
  .lines:last-child{
    margin-left:0;
    margin-top: 0;
  }
  @if($event==true){
    a:hover .lines {
      width: 19px;
      display: flex;
      border-top: 2px solid $blue-as-sky;
    }
  } @else {
    .lines {
      display: flex;
      border-top: 2px solid $blue-as-sky;
      margin: $gtop $grigth $gbottom $gleft;
    }
    .lines:first-child{
      width: 20px;
    }
    .lines:last-child{
      width: 20px;
    }
    .line-wrapper{
      width: 60px;
    }
  }
}
@mixin inp-par{
  font-family: "Source Sans", sans-serif;
  font-size: 14px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  color: $dark-white;
  padding-left: 18px;
  width: 300px;
  background-color: transparent;
  border: 1px solid $my-grey;
}
@mixin wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
}
@mixin dots($bg-color-a, $bg-color, $b-color){
  .slick-dots{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 23px;
    margin-top: 133px;
    width: 137px;
    button{
      font-size: 0;
      width: 8px;
      height: 8px;
      background-color: $bg-color ;
      border-radius: 50%;
      border: 1px solid $b-color;
      padding: 0;
    }
    .slick-active button{
      background-color: $bg-color-a ;
      width: 13px;
      height: 13px;
      border: 0;
    }
  }
}
@mixin title{
  font-family: "Source sans", sans-serif;
  font-size: 13px;
  line-height: 45px;
  font-weight: 700;
  color: $blue-as-sky;
  letter-spacing: 2.2px;
  text-transform: uppercase;
}
@mixin title-2($color){
  font-family: "Source Sans", sans-serif;
  font-size: 34px;
  font-weight: 600;
  text-transform: none;
  letter-spacing: 1.3px;
  @if ($color==true) {
    color: $strange-black-dark;
  }
  @else {
    color: $dark-white;
  }
}