@import "mixin";
@import "var";
button:hover{
  opacity:0.8;
}
.head-wrapper{
  width: 1170px;
}
.navbar-dark .navbar-nav .nav-link {
  color: $white-navbar;
}
.row{
  margin-right: 0;
}
.navbar{
  padding: 0 0;
}
.bg-img {
@include wrapper;
    background:$strange-black url("../images/bg_806.png") no-repeat ;
  background-size: cover;
  }
 .nav-menu{
   width: 1170px;
 }
 .navbar-collapse{
   justify-content: flex-end;
 }
 .logo{
   margin-top: 23px;
   display: flex;
   flex-direction: row;
   align-items: center;
   span{
     display: flex;
     font-family: "Quicksand", sans-serif;
     font-size: 23px;
     line-height: 56px;
     font-weight: 700;
     text-transform: uppercase;
     color: $dark-white;
     letter-spacing: 2px;
     span:nth-child(2n){
       letter-spacing: 0;
     }
     span:last-child{
       font-family: "Quicksand", sans-serif;
       font-size: 23px;
       line-height: 56px;
       font-weight: 700;
       text-transform: uppercase;
       color: $dark-white;
       letter-spacing: 2px;
       opacity: 1;
     }
   }
   span:last-child{
     width: 48px;
     opacity: 0.3;
     font-family: "Source sans Bold", sans-serif;
     font-size: 9px;
     line-height: 10px;
     text-transform: uppercase;
     letter-spacing: 1px;
     color: $dark-white;
     flex-wrap: wrap;
     display: flex;
   }
 }
 .menu-items{
   display: flex;
   justify-content: flex-end;
   margin-top: 19px;
   a{
     display: flex;
     text-align: center;
     justify-content: center;
     margin-left: 23.5px;
     font-family: "Source Sans", sans-serif;
     line-height: 15px;
     font-size: 14px;
     font-weight: 600;
     text-decoration: none;
     letter-spacing: 1.1px;
     }
   @include double-underline(true,-5px,0,0,0,0,space-between);
   }

.head-row {
  .head-info {
    margin-top: 65px;
    @include col-center(start);
    padding-right: 0;


    .button-wrapper {
      display: flex;
      flex-direction: row;
      margin-top: 59px;
      font-size: 12px;


      .d-button {
        @include button_par(0,3px,"Source sans Bold",$dark-white,160px,50px,$blue-as-sky,transparent,0,20px,0,0);
        box-shadow: 0 0 3px 0 $dark-grey;
      }

      .feat-button {
        @include button_par(1px,5px,"Source sans Bold",$dark-white,160px,50px,transparent,$my-grey,0,0,0,0);
      }
      button:hover{
        opacity: 0.8;
      }
    }
  }

  span:first-child {
    @include title;
    margin-top: 1px;
  }

  span:nth-child(2) {
    font-family: "Source sans", sans-serif;
    font-size: 46px;
    line-height: 59px;
    font-weight: 700;
    text-transform: none;
    letter-spacing: 1.45px;
    color: $dark-white;
    margin-top: 2px;
  }

  span:nth-child(3) {
    font-family: "Source sans", sans-serif;
    font-size: 46px;
    line-height: 37px;
    font-weight: 700;
    text-transform: none;
    letter-spacing: 1.5px;
    color: $dark-white;
  }

  span:nth-child(4) {
    margin-top: 29px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    text-transform: none;
    letter-spacing: -0.455px;
    color: $grey-as-asphalt;
  }

  .col-xl-5:last-child {
    img {
      margin: 42px 0 0 -12px;
      width: 504px;
      height: 519px;
    }
  }
}
.overview-wrapper {
  @include wrapper;
  padding-bottom: 70px;
  border-bottom: 1px solid $a-bit-pearlike;
  .overview-container {
    width: 1170px;
    .row {
      .overview-title {
        margin-top: 48px;
        @include col-center(center);
        padding: 0;

        span:first-child{
          @include title;
          margin: 0 0 0 16px;
        }
        span:nth-child(2) {
          @include title-2(true);
          text-align: center;
          margin: -6px 0 0 15px;
        }
        @include double-underline(false,-81px,0,0,0,0,center);
        }
      }
    }
  }
.feat-wrapper{
  margin-top: 103px;
  .col-xl-3{
    justify-content: center;
    @include col-center(center);
    .pic-circ{
      width: 90px;
      height: 90px;
      background-color: $dark-white;
      border: 1px solid $strange-white;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: -3px;
    }
    span{
      font-family: "Source Sans", sans-serif;
      font-size: 23px;
      line-height: 20px;
      font-weight: 400;
      color: $strange-black-dark;
      text-align: center;
      margin: 34px 0 0 4px;
      letter-spacing: 0.45px;

    }
    span:last-child{
      font-size: 18px;
      line-height: 26px;
      color: $grey-as-asphalt;
      margin-top: 15px;
      letter-spacing: 0;
      width: 240px;
      font-family: "Source Sans", sans-serif;
    }
  }
  .col-xl-3:nth-child(2){
    .pic-circ {
      margin-left: 9px;
    }
    span {
      margin-left: 12px;
    }
  }
  .col-xl-3:nth-child(3){
    .pic-circ {
      margin-left: 15px;
    }
    span {
      margin-left: 19px;
    }
  }
  .col-xl-3:last-child{
    .pic-circ {
      margin-left: 23px;
    }
    span {
      margin-left: 26px;
    }
  }
}

.details-wrapper {
  @include wrapper;
  padding-bottom: 19px;
  .details-container {
    width: 1170px;
    .details-items {
      .details-image {
        img {
          width: 509px;
          height: 620px;
          margin: 66px 0 0 21px;
        }
      }

      .details-info {
        display: flex;
        flex-direction: column;
        margin: 3px 0 0 7px;

        .details-title {
          margin-top: 98px;
        @include title;
        }

        span:nth-child(2) {
          @include title-2(true);
          margin: -5px 0 0 1px;
        }
        @include double-underline(false,unset,0,0,0,0,center);
        .line-wrapper {
          position: relative;
          margin: 18px 0 0 -9px;
          .lines{
            width: 19px;
            display: flex;
            border-top: 2px solid $blue-as-sky;
          }
        }

        .details-text {
          font-family: "Source Sans", sans-serif;
          font-size: 19px;
          line-height: 26px;
          font-weight: 400;
          text-transform: none;
          letter-spacing: -0.47px;
          color: $grey-as-asphalt;
          margin-top: -25px;
        }

        .parameters-folder {
          margin-top: 17px;
          .col-1{
            display: flex;
            flex-direction: column;
            img{
              margin-top: 17px;
            }
            img:first-child{
              width: 16px;
              height: 16px;
            }
            img:nth-child(2){
              width: 10px;
              height: 17px;
              margin-left: 3px;
            }

            img:nth-child(3){
              width: 11px;
              height: 17px;
              margin: 21px 0 0 3px;
            }
            img:nth-child(4){
              width: 16px;
              height: 15px;
              margin-top: 19px;
            }
          }
          .col-10{
            display: flex;
            flex-direction: column;
            margin: 5px 0 0 3px;
            span{
              font-family: "Source Sans", sans-serif;
              margin-left: -17px;
              font-size: 18px;
              line-height: 30px;
              font-weight: 400;
              text-transform: none;
              color: $strange-black-light;
              margin-top: 6.2px;
            }
            span:first-child{
              font-family: "Source Sans", sans-serif;
            }
          }
          span:nth-child(2){
            letter-spacing: 0;
          }
        }
      }
    }
  }
}

.details-wrapper-2 {
  @include wrapper;
background-color: $a-bit-pearlike-other;
  .details-container-2 {
    width: 1170px;
    padding: 114px 0 19px 0;
    .row {
      .col-xl-5{
        display: flex;
        flex-direction: column;
      span:first-child {
       @include title;
      }

      span:nth-child(2) {
        @include title-2(true);
        margin: -5px 0 0 1px;
      }
        @include double-underline(false,unset,0,0,0,0,center);
      .line-wrapper {
        position: relative;
        margin: 21px 0 0 -9px;
      }

      span:last-child {
        font-family: "Source Sans", sans-serif;
        font-size: 18px;
        line-height: 26.3px;
        font-weight: 400;
        text-transform: none;
        letter-spacing: -0.05px;
        color: $grey-as-asphalt;
        margin-top: -20px;
      }
    }
      .col-xl-7 {
        img {
          width: 718px;
          height: 491px;
          margin: -81px 0 0 -23px;
        }
      }
  }
}
}
.pricing-wrapper {
  @include wrapper;
  background-image: url("../images/prostok_t_4_1101.png");
  background-repeat: no-repeat;
  background-size: cover;

  .pricing-container {
    width: 1170px;
    padding-bottom: 44px;

    .row {
      .col-4:nth-child(2) {
        @include col-center(center);
        padding-top: 47px;

        span:first-child {
          @include title;
          margin-left: 8px;
          width: 185px;

        }

        span:nth-child(2) {
          @include title-2(false);
          margin: -6px 0 0 -6px;
          width: 248px;
        }
        @include double-underline(false,unset,0,0,0,0,center);
        .line-wrapper {
          position: relative;
          margin: 22px 0 0 -15px;
        }
      }
    }

    .plans-slider {
      display: flex;
      justify-content: center;
      .slick-list {
        overflow-x:hidden;
        .slick-track {
          display: flex;
          flex-direction: row;
          .col-6 {
            margin: 37px 0 0 -9px;
            min-width: 0;
            max-width: 600px;
            span:first-child {
              font-family: "Source sans Italic", sans-serif;
              font-size: 24px;
              line-height: 32px;
              font-weight: 400;
              color: $dark-white;
            }

            .author-block {
              display: flex;
              flex-direction: row;
              margin: 23px 0 0 1px;
              img {
                width: 59px;
                height: 59px;
              }

              .author-info {
                display: flex;
                flex-direction: column;
                margin: -1px 0 0 24px;

                span {
                  font-family: 'Source Sans', sans-serif;
                  font-size: 16px;
                  line-height: 35px;
                  font-weight: 400;
                  color: $dark-white;
                }

                span:last-child {
                  font-size: 14px;
                  line-height: 16px;
                  font-weight: 700;
                  letter-spacing: 0.36px;
                }
              }
            }
          }

          .col-6:nth-child(2n){
            margin-left: -0.6px;
            span:first-child{
              display: flex;
              flex-direction: column;
            }
          }
        }
      }
      @include dots($dark-white,transparent,$my-grey);
      .slick-dots {
        margin-top: 131px
      }
      }
    }
  }

.ad-wrapper{
@include wrapper;
  background-color: $strange-black;
  .ad-container{
    width: 1170px;
    margin: 57px 0 59px -3px;
    .row{
      margin-top: 2px;
      .col-xl-7{
        padding-right: 0;
        span:first-child{
          font-family: "Source Sans", sans-serif;
          font-size: 34px;
          line-height: 48px;
          font-weight: 600;
          color: $dark-white;
          letter-spacing: 1.48px;
        }
        span:last-child{
          letter-spacing: 0.85px;
          font-family: "Source sans light", sans-serif;
          font-weight: 300;
          color: $dark-white;
          font-size: 34px;
          line-height: 48px;
          margin-left: -1px;
        }
      }
      .col-xl-5{
        padding-right: 0;
        display: flex;
        button:first-child{
        @include button_par(1px,3px,"Source Sans",$dark-white,173px,50px,$pastel-grey,$my-grey,0,0,0,140px);
          display: flex;
          justify-content: center;
          line-height: 48px;
          align-items: center;
          text-transform: uppercase;
          box-shadow: 0 0 3px 0 rgb(3 3 3 / 10%);
          letter-spacing: 0.4px;
        }
        button:last-child{
          @include button_par(0,3px,"Source Sans",$dark-white,171px,50px,$blue-as-sky,transparent,0,0,0,21px);
          display: flex;
          justify-content: center;
          align-items: center;
          line-height: 48px;
          text-transform: uppercase;
          letter-spacing: 0.2px;
          box-shadow: 0 0 3px 0 rgb(3 3 3 / 10%);
        }
        button:hover{
          opacity: 0.8;
        }
      }
    }
  }
}
.price-wrapper-2 {
  @include wrapper;

  .price-container-2 {
    width: 1170px;
    padding-bottom: 61px;
    .row:first-child {
      .col-4:nth-child(2) {
        @include col-center(center);
        padding-top: 43px;

        span:first-child {
          @include title;
          margin-left: 3px;
          width: 180px;
        }

        span:nth-child(2) {
         @include title-2(true);
          margin: -5px 0 0 -3px;
          width: 250px;
        }
        @include double-underline(false,unset,0,0,0,0,center);
        .line-wrapper {
          position: relative;
          margin: 21px 0 0 -7px;
        }
      }
    }

    .row:last-child {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px -5px 0 0;
    @include dots($strange-black-dark, $grey-as-asphalt,$dark-grey);
      .slick-list{
        width: 100%;
        .slick-track{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
      }
      .col-xl-3 {
        max-width: 23.98%;
        .row {
          border: 1px solid $strange-white;
          margin-right: 0;
        }

        .row:first-child {
          padding: 27px 0 21px 0;
          font-family: "Source Sans", sans-serif;
          font-size: 24px;
          line-height: 20px;
          letter-spacing: 0.6px;
          font-weight: 700;
          text-transform: uppercase;
          color: $strange-black-dark;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .row:nth-child(2) {
          @include col-center(center);
          padding: 37px 0 30px 0;

          div {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            margin: 2px 0 0 -7px;

            span {
              font-family: 'Source Sans', sans-serif;
              font-size: 27px;
              line-height: 20px;
              font-weight: 600;
              color: $strange-black-dark;
            }

            span:nth-child(1) {
              top: -9px;
              position: relative;
            }

            span:nth-child(2) {
              font-size: 57px;
            }
          }

          span {
            font-family: 'Source Sans', sans-serif;
            font-size: 18px;
            line-height: 28px;
            font-weight: 400;
            color: $grey-as-asphalt;
            margin-top: 16px;
          }
        }

        .row:nth-child(3) {
          margin-top: 0;
          text-align: center;
          font-family: "Source Sans", sans-serif;
          font-size: 18px;
          line-height: 26px;
          font-weight: 400;
          color: $grey-as-asphalt;
          padding-top: 46px;
          margin-left: -15px;
          @include col-center(center);

          span {
            width: 200px;
            margin-bottom: 39px;

          }

          button {
            @include button_par(1px,0,'Source Sans',$blue-as-sky,162px,52px,transparent,$strange-white,0,0,27px,0);
            line-height: 48px;
            font-weight: 700;
            text-transform: uppercase;
            margin-left: 2px;
          }
        }
      }

      .col-xl-3:nth-child(2) {
        margin-left: 0;
        .row:nth-child(3){
          span{
            margin-left: 6px;
          }
        }
      }

      .col-xl-3:nth-child(3) {
        margin-left: 0;
        .row:nth-child(3){
          span{
            margin-left: 5px;
          }
        }
      }

      .col-xl-3:nth-child(4) {
        margin: 0 -7px 0  0;
        .row:nth-child(3){
          span{
            margin-left: 5px;
          }
        }
      }

      .price-list:hover {
        .row:first-child {
          color: $blue-as-sky;
        }

        .row:nth-child(2) {
          background-color: $blue-as-sky;

          span {
            color: $a-bit-pearlike-other;
          }
        }

        .row:nth-child(3) {
          button {
            @include button_par(1px,0,'Source Sans',$dark-white,162px,52px,$blue-as-sky,$strange-white,0,0,27px,0);
            font-weight: 700;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
.contact-wrapper{
  @include wrapper;
  background-color: $a-bit-pearlike;
  .contact-container{
    padding-bottom: 363px;
    width: 1170px;
    .row {
      .col-2 {
        @include col-center(center);
        padding: 40px 0 1px 0;
        margin-left: 11px;

        span:first-child {
          @include title;
          width: 112px;
          margin: 3px 0 0 -5px;
        }

        span:nth-child(2) {
          @include title-2(true);
          width: 164px;
          margin: -6px 0 0 -6px;
        }
        @include double-underline(false,unset,0,0,0,0,center);
        .line-wrapper {
          position: relative;
          margin: 22px 0 0 -3px;
        }
      }
    }
      .row{
      .col-sm-4{
        @include col-center(center);
        img{
          margin: 8px 0 0 4px;
        }
        span{
          font-family: "Source Sans", sans-serif;
          margin-top: 27px;
          text-align: center;
          font-size: 18px;
          line-height: 26px;
          font-weight: 400;
          color: $grey-as-asphalt;
          width: 169px;
        }
      }
      .col-sm-4:last-child{
        img {
          margin: 13px 0 0 22px;
        }
        span{
          margin: 32px 0 0 5px;

        }
      }
      .col-sm-4:nth-child(2){
        img {
          margin: 8px 0 0 14px;
        }
        span{
          margin: 27px 0 0 14px;
        }
        span:last-child{
          margin-top: 0;
          width: 128px;
        }
      }
    }
  }
}
.footer-wrapper {
  width: 100%;
  @include col-center(center);
  background-color: $strange-black;

  .footer-container {
    width: 1170px;
    padding: 55px 0 28px 0;
    .row {
      .col-xl-4 {
        @include col-center(center);

        div {
          display: flex;
          justify-content: center;
          margin-left: 44px;

          i {
            font-size: 18px;
            opacity: 0.2;
            color: $dark-white;
            margin-right: 34px;
          }

          i:hover {
            color: $blue-as-sky-light;
            opacity: 1;
            cursor: pointer;
          }
        }

        span {
          font-family: "Source Sans", sans-serif;
          font-size: 14px;
          line-height: 48px;
          font-weight: 600;
          letter-spacing: 0.2px;
          text-transform: uppercase;
          color: $grey-as-asphalt-dark;
          margin: 12px 0 0 15px;
        }
      }
    }
  }
}
  .form{
    background-color: $strange-black;
    z-index: 10;
    width: 770px;
    position: absolute;
    margin-top: -296px;
    padding-bottom: 40px;
    .col-lg-6{
      padding: 38px 10px 0 0;
      input{
        @include inp-par;
        height: 50px;
        margin-top: 21px;
      }
      @include col-center(flex-end);
    }
    .col-lg-5{
      padding:58px 15px 0 0;
      @include col-center(flex-end);
      textarea{
        @include inp-par;
        height: 191px;
        margin-right: 5px;
      }
      button{
      @include button_par(0,6px,"Source Sans",$dark-white,160px,50px,$blue-as-sky,transparent,21px,5px,0,0);
        letter-spacing: 0.3px;
        box-shadow: 0 0 3px 0 rgb(3 3 3 / 10%);
        line-height: 48px;
      }
    }
  }
@media screen and (max-device-width: 1200px) {
  .head-wrapper {
    width: 100%;
  }
  .navbar {
    padding: 0 15px;
  }
  .navbar-toggler {
    background-color: transparent;
  }
  .head-row {
    .head-info {
      z-index: 1;
    }

    .col-xl-5 {
      @include col-center(center);
      text-align: center;

      span:nth-child(4) {
        width: 500px;
      }
    }

    .col-xl-5:last-child {
      img {
        z-index: 0;
        margin: -405px 0 0 22px;
      }
    }
  }
  .overview-wrapper .feat-wrapper {
    margin-top: 102px;
    display: flex;
    justify-content: center;
  }
  .details-wrapper .details-container {
    width: 100%;

    .details-items {
      display: flex;
      justify-content: space-evenly;

      .details-image img {
        width: 400px;
        height: 500px;
      }

      .col-1 {
        display: none;
      }

      .details-info {
        .details-title {
          margin-top: 49px;
        }
      }
    }
  }
  .details-wrapper-2 {
    .details-container-2 {
      padding: 50px 0;
      width: 100%;

      .row {
        display: flex;
        justify-content: center;

        .col-xl-7 {
          img {
            width: 533px;
            height: 378px;
            margin-top: 0;
          }
        }
      }
    }
  }
  .plans-slider {
    flex-direction: column;
    align-items: center;

    .slick-list {
      width: 590px;

      .slick-track {
        .col-6 {
          max-width: 572px;
        }
      }
    }
  }
  .ad-wrapper {
    .ad-container {
      .row {
        .col-xl-7 {
          display: flex;
          padding-right: 0;
          justify-content: center;
        }

        .col-xl-5 {
          margin-top: 10px;
          padding-right: 0;
          display: flex;
          justify-content: center;

          button:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }
  .pricing-wrapper {
    .pricing-container {
      width: 100%;
    }
  }
  .footer-wrapper .footer-container {
    width: 100%;
  }
  .price-wrapper-2 .price-container-2 {
    width: 100%;

    .slick-list {
      overflow-x: hidden;

      .slick-track {
        display: flex;
        flex-direction: row;
      }
    }
  }
}
@media screen and (max-device-width: 990px) {
  .details-image img {
    display: none;

    .menu-items a div {
      display: none;
    }

    .details-items .details-info {
      @include col-center(center);

      .details-text {
        text-align: center;
      }

      .parameters-folder {
        display: flex;
        justify-content: space-between;
        margin-left: 46px;

        .col-10 {
          display: flex;
          flex-direction: column;
          margin: 7px 0 0 -4px;
          width: 260px;
        }
      }
    }

    .head-row .col-xl-5 {
      span:nth-child(2) {
        font-size: 36px;
      }

      span:nth-child(3) {
        font-size: 36px;
      }

      span:nth-child(4) {
        width: 400px;
      }
    }

    .details-wrapper-2 .details-container-2 {
      width: 90%;
      padding: 30px 0;

      .row {
        text-align: center;

        .col-xl-5 {
          @include col-center(center);
        }

        .col-xl-7 {
          img {
            display: none;
          }
        }
      }
    }

    .footer-wrapper .form {
      width: 400px;
      display: flex;
      justify-content: center;

      div {
        width: 99%;
        margin-right: 6px;

        .col-lg-6 {
          padding-right: 20px;
        }
      }
    }
  }
  @media screen and (max-device-width: 700px) {
    .head-row .col-xl-5 {
      span:nth-child(4) {
        width: 300px;
      }
    }
    .pricing-wrapper .pricing-container .plans-slider .slick-list {
      width: 300px;

      .slick-track {
        .col-6 {
          max-width: 288px;
        }
      }
    }
    .ad-wrapper .ad-container .row .col-xl-7 {
      padding-right: 0;
      @include col-center(center);
    }

    .col-xl-5 {
      margin-top: 10px;
      padding-right: 0;
      display: flex;
      justify-content: center;

      button:first-child {
        margin-left: 0;
      }
    }
    .contact-wrapper .contact-container .row .col-sm-4:first-child img {
      margin: 6px 0 0 16px;
    }
    .col-sm-4:nth-child(2) img {
      margin: 30px 0 0 19px;
    }
    .col-sm-4:last-child img {
      margin: 30px 0 0 23px;
    }
    .pricing-wrapper .pricing-container .plans-slider .slick-list .slick-track .col-6:nth-child(2n) {
      margin-left: 35px;
    }
  }
  @media screen and (max-device-width: 500px) {
    iframe {
      margin-top: 315px;
    }
    .details-wrapper .details-container .details-items .details-info span:nth-child(2) {
      text-align: center;
    }
    .details-container .details-items .details-info .parameters-folder .col-10 span {
      text-align: left;
    }
    .head-row .col-xl-5:last-child img {
      display: none;
    }

    .ad-wrapper .ad-container .row {
      .col-xl-5 {
        @include col-center(center);

        button:last-child {
          margin: 15px 0 0 0;
        }
      }

      .col-xl-7 {
        text-align: center;
      }
    }
    .head-row {
      .col-xl-5 span:nth-child(2) {
        font-size: 33px;
      }

      .col-xl-5 span:nth-child(3) {
        font-size: 33px;
      }

      .head-info .button-wrapper {
        display: flex;
        flex-direction: column;

        button {
          margin-bottom: 10px;
        }
      }
    }
    .footer-wrapper .form {
      width: 100%;

      .col-lg-6 {
        padding-right: 0;
      }

      div {
        width: 100%;
        @include col-center(center);
        margin-right: 0;

        .row {
          .col-lg-6 {
            @include col-center(center);
            padding-right: 0;
          }

          .col-lg-5 {
            @include col-center(center);
            padding-right: 0;

            textarea {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}
