.head-wrapper{
  width: 1170px;
}
.row{
  margin-right: 0;
}
.navbar{
  padding: 0 0;
}
.bg-img {
  display: flex;
  justify-content: center;
    width: 100%;
    background:#15141a url("../images/bg_806.png") no-repeat ;
  background-size: cover;
  }
 .nav-menu{
   width: 1170px;
 }
 .navbar-collapse{
   justify-content: flex-end;
 }
 .logo{
   margin-top: 23px;
   display: flex;
   flex-direction: row;
   align-items: center;
   span{
     display: flex;
     font-family: "Quicksand", sans-serif;
     font-size: 23px;
     line-height: 56px;
     font-weight: 700;
     text-transform: uppercase;
     color: #ffffff;
     letter-spacing: 2px;
     span:nth-child(2n){
       letter-spacing: 0;
     }
     span:last-child{
       font-family: "Quicksand", sans-serif;
       font-size: 23px;
       line-height: 56px;
       font-weight: 700;
       text-transform: uppercase;
       color: #ffffff;
       letter-spacing: 2px;
       opacity: 1;
     }
   }
   span:last-child{
     width: 48px;
     opacity: 0.3;
     font-family: "Source sans Bold", sans-serif;
     font-size: 9px;
     line-height: 10px;
     text-transform: uppercase;
     letter-spacing: 1px;
     color: #ffffff;
     flex-wrap: wrap;
     display: flex;
   }
 }
 .menu-items{
   display: flex;
   justify-content: flex-end;
   margin-top: 19px;
   a{
     display: flex;
     text-align: center;
     justify-content: center;
     margin-left: 23px;
     font-family: "Source Sans", sans-serif;
     line-height: 16px;
     font-size: 15px;
     font-weight: 600;
     color: #fffefe;
     text-decoration: none;
     letter-spacing: 0.7px;
     div{
         position: absolute;
         flex-direction: row;
         display: flex;
         justify-content: space-between;
         bottom: -5px;
       width: 40px;
       }
     }
   }
   a:hover span {
     width: 19px;
     display: flex;
     border-top: 2px solid #008ed6;

     span:first-child {
       margin-right: 2px;
     }
   }
.head-row {
  .head-info {
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-right: 0;


    .button-wrapper {
      display: flex;
      flex-direction: row;
      margin-top: 59px;
      font-size: 12px;


      .d-button {
        font-family: "Source sans Bold", sans-serif;
        color: #ffffff;
        width: 160px;
        height: 50px;
        font-weight: 700;
        background-color: #008ed6;
        margin-right: 20px;
        border-radius: 3px;
        border: 0;
        font-size: 14px;
        box-shadow: 0 0 3px 0 rgba(3, 3, 3, 0.1);
      }

      .feat-button {
        font-family: "Source sans Bold", sans-serif;
        font-weight: 700;
        width: 160px;
        height: 50px;
        font-size: 14px;
        background: none;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 5px;
        color: #ffffff;
      }
    }
  }

  span:first-child {
    font-family: "Source sans light", sans-serif;
    font-size: 14px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.9px;
    color: #008ed6;
  }

  span:nth-child(2) {
    font-family: "Source sans", sans-serif;
    font-size: 46px;
    line-height: 59px;
    font-weight: 700;
    text-transform: none;
    letter-spacing: 1.45px;
    color: #ffffff;
  }

  span:nth-child(3) {
    font-family: "Source sans", sans-serif;
    font-size: 46px;
    line-height: 37px;
    font-weight: 700;
    text-transform: none;
    letter-spacing: 1.5px;
    color: #ffffff;
  }

  span:nth-child(4) {
    margin-top: 29px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    text-transform: none;
    letter-spacing: -0.455px;
    color: #999999;
  }

  .col-xl-5:last-child {
    img {
      margin-top: 42px;
      width: 504px;
      height: 519px;
      margin-left: -12px;
    }
  }
}
.overview-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 70px;
  border-bottom: 1px solid #ededed;
  .overview-container {
    width: 1170px;
    .row {
      .overview-title {
        margin-top: 46px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;

        span:first-child{
          font-family: "Source sans", sans-serif;
          font-size: 14px;
          line-height: 48px;
          font-weight: 700;
          color: #008ed6;
          margin-right: 0;
          margin-left: 16px;
          letter-spacing: 1.75px;
        }
        span:nth-child(2) {
          font-family: "Source sans", sans-serif;
          letter-spacing: 1.45px;
          text-align: center;
          font-size: 34px;
          font-weight: 600;
          text-transform: none;
          color: #1a1a1a;
          margin-top: -6px;
          margin-left: 14px;
        }
          div {
            position: absolute;
            flex-direction: row;
            display: flex;
            justify-content: center;
            bottom: -80px;
          span {
            width: 20px;
            display: flex;
            border-top: 2px solid #008ed6;
          }
            span:first-child {
              margin-right: -11px;
            }
            span:last-child{
              margin-top: 0;
            }
        }
      }
    }
  }
.feat-wrapper{
  margin-top: 102px;
  .col-xl-3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .pic-circ{
      width: 90px;
      height: 90px;
      background-color: #ffffff;
      border: 1px solid #e0e0e0;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: -3px;
    }
    span{
      font-family: "Source Sans", sans-serif;
      font-size: 23px;
      line-height: 20px;
      font-weight: 400;
      color: #1a1a1a;
      text-align: center;
      margin-top: 33px;
      letter-spacing: 0.6px;
      margin-left: 4px;

    }
    span:last-child{
      font-size: 18px;
      line-height: 26px;
      color: #999999;
      margin-top: 15px;
      letter-spacing: 0;
      width: 240px;
      font-family: "Source Sans", sans-serif;
    }
  }
  .col-xl-3:nth-child(2){
    .pic-circ {
      margin-left: 9px;
    }
    span {
      margin-left: 12px;
    }
  }
  .col-xl-3:nth-child(3){
    .pic-circ {
      margin-left: 15px;
    }
    span {
      margin-left: 19px;
    }
  }
  .col-xl-3:last-child{
    .pic-circ {
      margin-left: 23px;
    }
    span {
      margin-left: 26px;
    }
  }
}
}
.details-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 19px;
  .details-container {
    width: 1170px;
    .details-items {
      .details-image {
        img {
          width: 509px;
          height: 620px;
          margin-top: 67px;
          margin-left: 21px;
        }
      }

      .details-info {
        display: flex;
        flex-direction: column;
        margin-left: 7px;
        margin-top: 3px;

        .details-title {
          margin-top: 98px;
          font-family: "Source Sans", sans-serif;
          font-size: 15px;
          line-height: 48px;
          font-weight: 700;
          text-transform: uppercase;
          color: #008ed6;
          letter-spacing: 1.23px;
        }

        span:nth-child(2) {
          font-family: "Source Sans", sans-serif;
          line-height: 34px;
          font-size: 33px;
          font-weight: 600;
          text-transform: none;
          letter-spacing: 1.7px;
          margin-left: 1px;
        }

        .line-wrapper {
          position: relative;
          flex-direction: row;
          display: flex;
          justify-content: space-between;
          margin-top: 28px;
          width: 40px;

          .lines {
            width: 19px;
            display: flex;
            border-top: 2px solid #008ed6;
          }
        }

        .details-text {
          font-family: "Source Sans", sans-serif;
          font-size: 19px;
          line-height: 26px;
          font-weight: 400;
          text-transform: none;
          letter-spacing: -0.47px;
          color: #999999;
          margin-top: -9px;
        }

        .parameters-folder {
          margin-top: 17px;
          .col-1{
            display: flex;
            flex-direction: column;
            img{
              margin-top: 17px;
            }
            img:first-child{
              width: 16px;
              height: 16px;
            }
            img:nth-child(2){
              width: 10px;
              height: 17px;
              margin-left: 3px;
            }

            img:nth-child(3){
              width: 11px;
              height: 17px;
              margin-left: 3px;
              margin-top: 21px;
            }
            img:nth-child(4){
              width: 16px;
              height: 15px;
              margin-top: 19px;
            }
          }
          .col-10{
            display: flex;
            flex-direction: column;
            margin-top: 7px;
            margin-left: 3px;
            span{
              font-family: "Source Sans", sans-serif;
              margin-left: -17px;
              font-size: 18px;
              line-height: 30px;
              font-weight: 400;
              text-transform: none;
              color: #1b1b1b;
              margin-top: 5.8px;
            }
            span:first-child{
              font-family: "Source Sans", sans-serif;
            }
          }
          span:nth-child(2){
            font-family: "Source Sans", sans-serif;
            letter-spacing: 0;
          }
          span:nth-child(3){
            font-family: "Source Sans", sans-serif;
          }
          span:last-child{
            font-family: "Source Sans", sans-serif;
          }
        }
      }
    }
  }
}
.details-wrapper-2 {
  width: 100%;
  display: flex;
  justify-content: center;
background-color: #f2f2f2;
  .details-container-2 {
    width: 1170px;
    padding-top: 113px;
    padding-bottom: 20px;
    .row {
      .col-xl-5{
        display: flex;
        flex-direction: column;
      span:first-child {
        font-family: "Source Sans", sans-serif;
        font-size: 13px;
        line-height: 48px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2.2px;
        color: #008ed6;
      }

      span:nth-child(2) {
        font-family: "Source Sans", sans-serif;
        font-size: 35px;
        font-weight: 600;
        text-transform: none;
        letter-spacing: 0.9px;
        color: #1a1a1a;
        margin-top: -8px;
      }

      .line-wrapper {
        position: relative;
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        width: 40px;
        margin-left: 3px;
        .lines {
          width: 19px;
          display: flex;
          border-top: 2px solid #008ed6;
          margin-top: 0;
        }
      }

      span:last-child {
        font-family: "Source Sans", sans-serif;
        font-size: 18px;
        line-height: 26.3px;
        font-weight: 400;
        text-transform: none;
        letter-spacing: -0.05px;
        color: #999999;
        margin-top: -23px;
      }
    }
      .col-xl-7 {
        img {
          width: 718px;
          height: 491px;
          margin-top: -79px;
          margin-left: -23px;
        }
      }
  }
}
}
.pricing-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url("../images/prostok_t_4_1101.png");
  background-repeat: no-repeat;
  background-size: cover;

  .pricing-container {
    width: 1170px;
    padding-bottom: 43px;

    .row {
      .col-4:nth-child(2) {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 46px;

        span:first-child {
          font-family: "Source Sans", sans-serif;
          font-size: 13px;
          line-height: 48px;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 2.2px;
          color: #008ed6;
          margin-left: -4px;
        }

        span:nth-child(2) {
          font-family: "Source Sans", sans-serif;
          font-size: 34px;
          font-weight: 600;
          text-transform: none;
          letter-spacing: 1.4px;
          color: #ffffff;
          margin-top: -8px;
          margin-left: -7px;
        }

        .line-wrapper {
          position: relative;
          flex-direction: row;
          display: flex;
          justify-content: space-between;
          width: 40px;
          margin-left: -7px;
          margin-top: 21px;

          .lines {
            width: 19px;
            display: flex;
            border-top: 2px solid #008ed6;
            margin-top: 0;
            margin-left: 0;
          }
        }
      }
    }

    .plans-slider {
      display: flex;
      justify-content: center;
      .slick-list {
        overflow-x:hidden;
        .slick-track {
          display: flex;
          flex-direction: row;
          .col-6 {
            margin-top: 36px;
            margin-left: -7.1px;
            min-width: 0;
            max-width: 600px;
            span:first-child {
              font-family: "Source sans Italic", sans-serif;
              font-size: 24px;
              line-height: 32px;
              font-weight: 400;
              color: #ffffff;
            }

            .author-block {
              display: flex;
              flex-direction: row;
              margin-top: 22px;
              margin-left: 1px;

              img {
                width: 59px;
                height: 59px;
              }

              .author-info {
                display: flex;
                flex-direction: column;
                margin-left: 24px;
                margin-top: 5px;

                span {
                  font-family: 'Source Sans', sans-serif;
                  font-size: 16px;
                  line-height: 25px;
                  font-weight: 400;
                  color: #ffffff;
                }

                span:last-child {
                  font-size: 14px;
                  line-height: 26px;
                  font-weight: 700;
                  letter-spacing: 0.3px;
                }
              }
            }
          }

          .col-6:nth-child(2n){
            margin-left: -0.6px;
            span:first-child{
              display: flex;
              flex-direction: column;
            }
          }
        }
      }
      .slick-dots{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 24px;
        margin-top: 131px;
        width: 137px;
        button{
          font-size: 0;
          width: 8px;
          height: 8px;
          background-color: transparent;
          border-radius: 50%;
          border: 1px solid rgba(255, 255, 255, 0.2);
          padding: 0;
        }
        .slick-active button{
          background-color: #ffffff;
          width: 13px;
          height: 13px;
          border: 0;
        }
      }
    }
  }
}
.ad-wrapper{
  width:100%;
  display: flex;
  justify-content: center;
  background-color: #15141a;
  .ad-container{
    width: 1170px;
    margin-top: 59px;
    margin-left: -6px;
    margin-bottom: 60px;
    .row{
      margin-top: 2px;
      .col-xl-7{
        padding-right: 0;
        span:first-child{
          font-family: "Source Sans", sans-serif;
          font-size: 34px;
          line-height: 48px;
          font-weight: 600;
          color: #ffffff;
          letter-spacing: 1.6px;
        }
        span:last-child{
          letter-spacing: 0.7px;
          font-family: "Source sans light", sans-serif;
          font-weight: 300;
          color: #ffffff;
          font-size: 34px;
          line-height: 48px;
        }
      }
      .col-xl-5{
        padding-right: 0;
        display: flex;
        button:first-child{
          font-family: "Source Sans", sans-serif;
          display: flex;
          font-size: 14px;
          justify-content: center;
          line-height: 48px;
          align-items: center;
          font-weight: 700;
          text-transform: uppercase;
          color: #ffffff;
          width: 173px;
          letter-spacing: 0.4px;
          height: 50px;
          background-color: rgba(0, 142, 214, 0);
          border: 1px solid rgba(255, 255, 255, 0.2);
          margin-left: 140px;
        }
        button:last-child{
          font-family: "Source Sans", sans-serif;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 14px;
          line-height: 48px;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 0.2px;
          color: #ffffff;
          width: 168px;
          height: 50px;
          background-color: #008ed6;
          box-shadow: 0 0 3px 0 rgb(3 3 3 / 10%);
          margin-left: 21px;
          border: 0;
          border-radius: 3px;
        }
      }
    }
  }
}
.price-wrapper-2 {
  width: 100%;
  display: flex;
  justify-content: center;

  .price-container-2 {
    width: 1170px;
    padding-bottom: 61px;
    .row:first-child {
      .col-4:nth-child(2) {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 42px;

        span:first-child {
          font-family: "Source Sans", sans-serif;
          font-size: 13px;
          line-height: 48px;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 2.2px;
          color: #008ed6;
          margin-left: -5px;
          width: 180px;
        }

        span:nth-child(2) {
          font-family: "Source Sans", sans-serif;
          font-size: 34px;
          font-weight: 600;
          text-transform: none;
          letter-spacing: 1.3px;
          color: #1a1a1a;
          margin-top: -8px;
          margin-left: -7px;
          width: 250px;
        }

        .line-wrapper {
          position: relative;
          flex-direction: row;
          display: flex;
          justify-content: space-between;
          width: 40px;
          margin-left: -7px;
          margin-top: 22px;

          .lines {
            width: 19px;
            display: flex;
            border-top: 2px solid #008ed6;
            margin-top: 0;
            margin-left: 0;
          }
        }
      }
    }

    .row:last-child {
      display: flex;
      justify-content: space-between;
      margin-right: -5px;
      margin-top: 18px;

      .slick-list{
        width: 100%;
        .slick-track{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
      }
      .col-xl-3 {
        max-width: 23.98%;
        margin-left: 14px;

        .row {
          border: 1px solid #e0e0e0;
          margin-right: 0;
        }

        .row:first-child {
          padding-top: 27px;
          padding-bottom: 21px;
          font-family: "Source Sans", sans-serif;
          font-size: 24px;
          line-height: 20px;
          letter-spacing: 0.6px;
          font-weight: 700;
          text-transform: uppercase;
          color: #1a1a1a;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .row:nth-child(2) {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-top: 37px;
          padding-bottom: 30px;

          div {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            margin-left: -6px;

            span {
              font-family: 'Source Sans', sans-serif;
              font-size: 27px;
              line-height: 20px;
              font-weight: 600;
              color: #1a1a1a;
            }

            span:nth-child(1) {
              top: -9px;
              position: relative;
            }

            span:nth-child(2) {
              font-size: 57px;
              margin-left: 0.5px;
              margin-top: 18px;
            }
          }

          span {
            font-family: 'Source Sans', sans-serif;
            font-size: 18px;
            line-height: 28px;
            font-weight: 400;
            color: #999999;
            margin-top: 16px;
          }
        }

        .row:nth-child(3) {
          margin-top: 0;
          text-align: center;
          font-family: "Source Sans", sans-serif;
          font-size: 18px;
          line-height: 26px;
          font-weight: 400;
          color: #999999;
          padding-top: 46px;
          margin-left: -15px;
          display: flex;
          align-items: center;
          flex-direction: column;

          span {
            width: 200px;
            margin-bottom: 39px;
          }

          button {
            font-family: 'Source Sans', sans-serif;
            font-size: 14px;
            line-height: 48px;
            font-weight: 700;
            text-transform: uppercase;
            color: #008ed6;
            width: 162px;
            height: 52px;
            background-color: transparent;
            border: 1px solid #e0e0e0;
            margin-bottom: 27px;
          }
        }
      }

      .col-xl-3:nth-child(2) {
        margin-left: 1px;
      }

      .col-xl-3:nth-child(3) {
        margin-left: 1px;
      }

      .col-xl-3:nth-child(4) {
        margin-left: 0;
        margin-right: -9px;
      }

      .price-list:hover {
        .row:first-child {
          color: #008ed6;
        }

        .row:nth-child(2) {
          background-color: #008ed6;

          span {
            color: #fafafa;
          }
        }

        .row:nth-child(3) {
          button {
            font-family: 'Source Sans', sans-serif;
            font-size: 14px;
            line-height: 48px;
            font-weight: 700;
            text-transform: uppercase;
            color: #ffffff;
            width: 162px;
            height: 52px;
            background-color: #008ed6;
            border: 1px solid #e0e0e0;
            margin-bottom: 27px;
          }
        }
      }
    }
  }
}
.contact-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ededed;
  .contact-container{
    padding-bottom: 363px;
    width: 1170px;
    .row {
      .col-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
        margin-left: 11px;

        span:first-child {
          font-family: "Source Sans", sans-serif;
          font-size: 13px;
          line-height: 48px;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 2.2px;
          color: #008ed6;
          width: 112px;
          margin-left: -6px;
          margin-top: 2px;
        }

        span:nth-child(2) {
          font-family: "Source Sans", sans-serif;
          font-size: 35px;
          font-weight: 600;
          text-transform: none;
          letter-spacing: 0.9px;
          color: #1a1a1a;
          width: 164px;
          margin-top: -8px;
          margin-left: -7px;
        }

        .line-wrapper {
          position: relative;
          flex-direction: row;
          display: flex;
          justify-content: space-between;
          width: 40px;
          margin-left: -8px;
          margin-top: 21px;

          .lines {
            width: 19px;
            display: flex;
            border-top: 2px solid #008ed6;
            margin-top: 0;
            margin-left: 0;
          }
        }
      }
    }
      .row{
      .col-sm-4{
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
          margin-top: 6px;
          margin-left: 4px;
        }
        span{
          font-family: "Source Sans", sans-serif;
          margin-top: 27px;
          text-align: center;
          font-size: 18px;
          line-height: 26px;
          font-weight: 400;
          color: #999999;
          width: 169px;
        }
      }
      .col-sm-4:last-child{
        img {
          margin-top: 11px;
          margin-left: 22px;
        }
        span{
          margin-top: 32px;
          margin-left: 5px;
        }
      }
      .col-sm-4:nth-child(2){
        img {
          margin-top: 6px;
          margin-left: 14px;
        }
        span{
          margin-top: 27px;
          margin-left: 14px;
        }
        span:last-child{
          margin-top: 0;
          width: 128px;
        }
      }
    }
  }
}
.footer-wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #15141a;
  .footer-container{
    width: 1170px;
    padding-top: 55px;
    .row{
      .col-xl-4{
        display: flex;
        align-items: center;
        flex-direction: column;
        div{
          display: flex;
          justify-content: center;
          margin-left: 44px;
          i{
            font-size: 18px;
            opacity: 0.2;
            color: #ffffff;
            margin-right: 34px;
          }
          i:hover{
            color: #00b3ff;
            opacity: 1;
          }
        }
        span{
          font-family: "Source Sans", sans-serif;
          font-size: 14px;
          line-height: 48px;
          font-weight: 600;
          letter-spacing: 0.2px;
          text-transform: uppercase;
          color: #444348;
          margin-top: 12px;
          margin-left: 15px;
        }
      }
    }
  }
  .form{
    background-color: #15141a;
    z-index: 10;
    width: 770px;
    position: absolute;
    margin-top: -293px;
    padding-bottom: 40px;
    .col-lg-6{
      padding-right: 10px;
      padding-top: 38px;
      input{
        font-family: 'Source Sans',sans-serif;
        font-size: 14px;
        line-height: 48px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
        padding-left: 18px;
        background-color: transparent;
        margin-top: 20px;
        width: 300px;
        height: 50px;
        border: 1px solid rgba(255,255,255,0.2);
      }
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    .col-lg-5{
      padding-left: 6px;
      padding-top: 58px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      textarea{
        font-family: "Source Sans", sans-serif;
        font-size: 14px;
        line-height: 48px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
        padding-left: 18px;
        background-color: transparent;
        width: 300px;
        height: 191px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        margin-right: 5px;
      }
      button{
        margin-top: 21px;
        margin-right: 5px;
        width: 160px;
        height: 50px;
        letter-spacing: 0.3px;
        border: 0;
        border-radius: 6px;
        background-color: #008ed6;
        box-shadow: 0 0 3px 0 rgb(3 3 3 / 10%);
        font-family: "Source Sans", sans-serif;
        font-size: 14px;
        line-height: 48px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
      }
    }
  }
}
@media screen and (max-device-width: 1200px) {
  .head-wrapper{
    width: 100%;
  }
.navbar{
  padding: 0 15px;
}
  .navbar-toggler {
    background-color: transparent;
  }
  .head-row {
    .head-info{
      z-index: 1;
    }
    .col-xl-5 {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      span:nth-child(4){
        width: 500px;
      }
    }
    .col-xl-5:last-child{
      img{
        z-index: 0;
        margin-top:-405px;
        margin-left: 22px;
      }
    }
  }
  .overview-wrapper .feat-wrapper {
    margin-top: 102px;
    display: flex;
    justify-content: center;
  }
  .details-wrapper .details-container {
    width: 100%;

    .details-items {
      display: flex;
      justify-content: space-evenly;
      .details-image img {
        width: 400px;
        height: 500px;
      }
      .col-1{
        display: none;
      }
      .details-info {
        .details-title {
          margin-top: 49px;
        }
      }
    }
  }
  .details-wrapper-2 {
    .details-container-2 {
      padding-top: 50px;
      padding-bottom: 50px;
      width: 100%;
      .row {
        display: flex;
        justify-content: center;
        .col-xl-7 {
          img {
            width: 533px;
            height: 378px;
          }
        }
      }
    }
  }
  .plans-slider{
    flex-direction: column;
    align-items: center;
    .slick-list{
      width: 50%;
    }
  }
  .ad-wrapper{
    .ad-container{
    .row{
      .col-xl-7{
        display: flex;
        padding-right: 0;
        justify-content: center;
        span:first-child{

        }
        span:last-child{

        }
      }
      .col-xl-5{
        margin-top: 10px;
        padding-right: 0;
        display: flex;
        justify-content: center;
        button:first-child{
          margin-left: 0;
        }
        button:last-child{

        }
      }
    }
    }
  }
  .pricing-wrapper {
    .pricing-container {
      width: 100%;
    }
  }
  .footer-wrapper {
    .footer-container {
      width: 100%;
    }
  }
  .price-wrapper-2 {
    .price-container-2 {
      width:100%;
      .slick-list{
        overflow-x:hidden;
        .slick-track{
       display:flex;
          flex-direction: row;
        }
      }
    }
  }
}
@media screen and (max-device-width: 990px) {
  .details-image img {
    display: none;
  }
  .details-items .details-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    .details-text {
      text-align: center;
    }

    .parameters-folder {
      display: flex;
      justify-content: space-between;
      margin-left: 46px;

      .col-10 {
        display: flex;
        flex-direction: column;
        margin-top: 7px;
        margin-left: -4px;
        width: 260px;
      }
    }
  }
  .head-row .col-xl-5 {
    span:nth-child(2){
      font-size: 36px;
    }
    span:nth-child(3){
      font-size: 36px;
    }
    span:nth-child(4) {
      width: 400px;
    }
  }
  .details-wrapper-2 {
    .details-container-2 {
      width: 90%;
      padding-top: 30px;
      padding-bottom: 30px;

      .row {
        text-align: center;

        .col-xl-5 {
          display: flex;
          align-items: center;
          flex-direction: column;
        }

        .col-xl-7 {
          img {
            display: none;
          }
        }
      }
    }
  }
  .footer-wrapper .form {
    width: 400px;
    display: flex;
    justify-content: center;
    div {
      width: 99%;
      margin-right: 6px;
      .col-lg-6 {
        padding-right: 20px;
      }
    }
  }
}
@media screen and (max-device-width: 700px) {
  .head-row .col-xl-5 {
    span:nth-child(4) {
      width: 300px;
    }
  }
  .ad-wrapper {
    .ad-container {
      .row {
        .col-xl-7 {
          display: flex;
          padding-right: 0;
          flex-direction: column;
          align-items: center;
        }

        .col-xl-5 {
          margin-top: 10px;
          padding-right: 0;
          display: flex;
          justify-content: center;

          button:first-child {
            margin-left: 0;
          }

          button:last-child {

          }
        }
      }
    }
  }
  .contact-wrapper {
    .contact-container {
      .row {
        .col-sm-4:first-child {
          img {
            margin-top: 6px;
            margin-left: 16px;
          }
        }

        .col-sm-4:nth-child(2) {
          img {
            margin-top: 30px;
            margin-left: 19px;
          }
        }

        .col-sm-4:last-child {
          img {
            margin-top: 30px;
            margin-left: 23px;
          }
        }
      }
    }
  }
}
@media screen and (max-device-width: 500px) {
  .head-row {
    .col-xl-5:last-child {
      img {
        display: none;
      }
    }
  }
  .ad-wrapper .ad-container .row {
    .col-xl-5 {
      display: flex;
      flex-direction: column;
      align-items: center;

      button:last-child {
        margin-left: 0;
        margin-top: 15px;
      }
    }

    .col-xl-7 {
      text-align: center;
    }
  }
  .head-row {
    .col-xl-5 span:nth-child(2) {
      font-size: 33px;
    }
      .col-xl-5 span:nth-child(3) {
      font-size: 33px;
    }
    .head-info .button-wrapper {
      display: flex;
      flex-direction: column;

      button {
        margin-bottom: 10px;
      }
    }
  }
}
