$white-navbar: #fffefe;
$strange-black: #15141a;
$dark-white: #ffffff;
$blue-as-sky: #008ed6;
$grey-as-asphalt: #999999;
$blue-as-sky-light: #00b3ff;
$grey-as-asphalt-dark: #444348;
$a-bit-pearlike: #ededed;
$strange-black-dark: #1a1a1a;
$strange-white: #e0e0e0;
$strange-black-light: #1b1b1b;
$a-bit-pearlike-other:#f2f2f2;
$dark-grey:rgba(3, 3, 3, 0.1);
$my-grey:rgba(255, 255, 255, 0.2);
$pastel-grey:rgba(0, 142, 214, 0);